<p id="notice"><%= notice %></p>

<p>
  <strong>Stylename:</strong>
  <%= @orderdetail.stylename %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @orderdetail.quantity %>
</p>

<p>
  <strong>Garmentsize:</strong>
  <%= @orderdetail.garmentsize %>
</p>

<%= link_to 'Edit', edit_orderdetail_path(@orderdetail) %> |
<%= link_to 'Back', orderdetails_path %>
