<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orderid %>
    <%= f.number_field :orderid %>
  </div>

  <div class="field">
    <%= f.label :orderxRef %>
    <%= f.text_field :orderxRef %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :created %>
    <%= f.time_select :created %>
  </div>

  <div class="field">
    <%= f.label :modified %>
    <%= f.time_select :modified %>
  </div>

  <div class="field">
    <%= f.label :orderstatus %>
    <%= f.number_field :orderstatus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
