<div class="field">
  <%= p.label :styleident %>
  <%= p.text_field :styleident %>
</div>

<div class="field">
  <%= p.label :product_name %>
  <%= p.text_field :product_name %>
</div>

<div class="field">
  <%= p.label :product_description %>
  <%= p.text_field :product_description %>
</div>

<div class="field">
  <%= p.label :product_thumb_url %>
  <%= p.text_field :product_thumb_url %>
</div>

<div class="field">
  <%= p.label :product_preview_url %>
  <%= p.text_field :product_preview_url %>
</div>

<div class="field">
  <%= p.label :product_print_url %>
  <%= p.text_field :product_print_url %>
</div>

<div class="field">
  <%= p.label :trim_codes %>
  <%= p.text_field :trim_codes %>
</div>

<div class="field">
  <%= p.label :necklabel_id %>
  <%= p.text_field :necklabel_id %>
</div>

<div class="field">
  <%= p.label :hangtag_id %>
  <%= p.text_field :hangtag_id %>
</div>
