<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Orderid</th>
      <th>Orderxref</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Orderstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.orderid %></td>
        <td><%= order.orderxRef %></td>
        <td><%= order.firstname %></td>
        <td><%= order.lastname %></td>
        <td><%= order.created %></td>
        <td><%= order.modified %></td>
        <td><%= order.orderstatus %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
