<p id="notice"><%= notice %></p>

<p>
  <strong>Orderident:</strong>
  <%= @order.orderident %>
</p>

<p>
  <strong>Orderstatus:</strong>
  <%= @order.orderstatus %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
