<p id="notice"><%= notice %></p>

<p>
  <strong>Orderident:</strong>
  <%= @order.orderident %>
</p>

<p>
  <strong>Orderstatus:</strong>
  <%= @order.orderstatus %>
  <br  />
  <% @order.orderdetails.each do |od| %>
    <%= od.quantity %> - <%= od.garmentsize %>
  <% end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
